<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joy Business Academy | Front end test</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" col-xs-12>
                <h2>List of servers</h2>
                <select v-model="serverId"  class="form-control">
                    <option v-for="server in servers" v-bind:value="server.id">{{server.name}}</option>
                </select>
                {{serverId}}
            </div>
    </div>
</div>
</div>
</body>
<!-- setup vue.js and style-->
<script src="vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>

<script>

    const vm = new Vue({
        el: '#app',
        data: {
            serverId: '',
            servers: [],
        },
        mounted() {<!-- get list of servers from api with help of axios-->
        axios.get("http://jbanew.staging.joybusinessacademy.com/api/v2/assignment/servers/")
            .then(function (response) {
                vm.servers = response.data.source.rows
                console.log(response.data.source.rows)
            })
            .catch(error => {
                console.log(error);
            })
    },
    });
</script>
</html>
