<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joy Business Academy | Front end test</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <h2>List of servers</h2>
                <!-- pass the serverid to get statistics value-->
                <select v-model="serverId" v-on:change="onStatistics" class="form-control">
                    <option disabled value="">Please select one</option>
                    <option v-for="server in servers" v-bind:value="server.id">{{server.name}}</option>
                </select>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                    <h4>Statistic of server</h4>
                    <!-- line chart component will display after selecting the server name -->
                    <!-- line chart component from vue-chart.js library -->
                    <line-chart v-bind:statistics="statistics"></line-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                    <div class="col-sm-3 "><strong>Lowest:</strong> {{lowValue}}</div>
                    <div class="col-sm-3 "><strong>Highest:</strong> {{highValue}}</div>
                    <div class="col-sm-6 "><strong>Average:</strong> {{avgValue}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- setup vue.js and style-->
<script src="vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

<script>

    const vm = new Vue({
        el: '#app',
        data: {
            serverId: '',
            servers: [],
            statistics: [],
            lowValue: 0,
            highValue: 0,
            avgValue: 0
        },
        mounted() {<!-- get list of servers from api with help of axios-->
            axios.get("http://jbanew.staging.joybusinessacademy.com/api/v2/assignment/servers/")
                .then(function (response) {
                    vm.servers = response.data.source.rows
                    console.log(response.data.source.rows)
                })
                .catch(error => {
                    console.log(error);
                })
        },
        methods: {
            onStatistics: function () {
                axios.get("http://jbanew.staging.joybusinessacademy.com/api/v2/assignment/servers/" + this.serverId)
                    .then(function (response) {
                        vm.statistics = response.data.source.data.value
                        console.log(response.data.source.data.value)
                        Vue.component('line-chart', {
                            extends: VueChartJs.Line,
                            props: ["statistics"],
                            mounted() {
                                var chartLabels = []
                                for (var i = 0; i < this.statistics.length; ++i) {
                                    chartLabels.push(i)
                                }
                                this.renderChart({
                                    labels: chartLabels,
                                    datasets: [
                                        {
                                            label: 'Data value',
                                            backgroundColor: '#F4511E',
                                            data: this.valueChartData
                                        }
                                    ]
                                }, {responsive: true, maintainAspectRatio: false})
                            },
                            computed: {
                                valueChartData() {
                                    console.log(this.statistics)
                                    vm.lowValue = Math.min(...this.statistics)
                                    vm.highValue = Math.max(...this.statistics)
                                    vm.avgValue = eval(this.statistics.join("+")) / this.statistics.length
                                    return this.statistics
                                }
                            },
                            update() {
                                console.log(this.statistics)
                            }


                        })

                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        }
    });
</script>
</html>
